<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 100px;
    }
    .class{

  </style>
    <script>
        function sendData() {
            let username = document.getElementById("username").value;
            let data =''
            fetch('/authenticate', {
                    method: 'POST',
                    headers:{
                                'Content-Type': 'application/json'
                            },
                    body: JSON.stringify({username : username})
                    })
            .then(response => response.text())
            .then(result => {
                console.log(result)
                document.getElementById("message").innerHTML= result
                if (result != "Not registred") {
                    document.getElementById("loginform").style.display = "none";
                    document.getElementById("afterlogin").style.display = "block";
                    document.getElementById("pagecontent").innerHTML = result;
                    location.href = "http://127.0.0.1:5000/responsive";
                }
                else{
                    document.getElementById("message").innerHTML = result;
                    document.getElementById("afterlogin").style.display = "none";
                }
            })
            .catch(error => {
                    console.error('Error:', error);
            });

        }
    </script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs- 2 col-sm-6 col-lg-8" id="loginform" >
              <div class="form-group" >
                <label for="username" required>Username</label>
                <input type="text" class="form-control" id="username" name="un" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="pw" placeholder="Enter your password">
              </div>
              <button class="btn btn-primary btn-block" onclick="sendData()" id="login" >Login</button>
              <div>
                <p id="message"></p>
              </div>
      </div>
    </div>
  </div>
  <div>
      <div  id="afterlogin">
          <p id="pagecontent"></p>
      </div>
  </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>